<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="aqui-la-ruta-correcta-de-los-estilos.css" />
  </head>
  <body>
    <h1>¡Hola mundo!</h1>
    <ul>
      <% if(foundMovie !== "") {%> <% foundMovie.forEach(function(item){ %>

      <li className="card">
        <h2 className="card__title"><%= item.title %></h2>
        <p className="card__description"><%= item.genre %></p>
        <img className="card__img" src="<%= item.image %>" alt="" />
        <!-- <p><%= item.category %></p>
        <p><%= item.year %></p> -->
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
